<!DOCTYPE html>
<html>
  <head>
    <title>RubyPj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    
  </head>
    <body>
    <div class="row h-100 feed">
        <div class="col-0 col-lg-2 d-none d-lg-flex flex-row justify-content-center mt-4">
            <ul class="d-inline-block nav-list album-nav" >
                <a href="#">
                    <li class="d-block mb-2">Feeds</li>
                </a>
                <a href="/discover/photo">
                    <li class="d-block mb-2">Discover</li>
                </a>

                
            </ul>
        </div>
        <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
            
            <div class="switch-mode d-flex mt-4">
                <a href="#">
                    <div class="photo-btn p-2">PHOTO</div>
                </a>
                <a href="/feed/album">
                    <div class="album-btn p-2">ALBUM</div>
                </a>
            </div>
            <div class="row w-100 h-90 feed_photo " >
                <% if ! user_signed_in? %>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <p> Please sign in to view this content</p>
                    </div>
                <% elsif @list_photos.empty? %>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <p>There is no photo</p>
                    </div>
                <% else %>  
                    <% @list_photos.each_with_index do |ele,index|%>
                        <div class="col-xl-6  col-12">
                            <div class="row item-box mt-4 " data-bs-toggle="modal" data-bs-target="<%='#imageModal'+index.to_s%>">
                                <div class="col-6 p-0 img-box">
                                    <img src="<%= ele.image %>" alt="">
                                </div>

                                <div class="col-6 h-100 p-2 d-flex flex-column justify-content-between">
                                    <div class="upper-box d-flex flex-column gap-10 ">
                                        <div class="user-info-box d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-row align-items-center justify-content-start gap-10">
                                                <div class="avt-icon">  </div>
                                                <p class="user-name"><%= ele.firstName%></p>
                                            </div>
                                        
                                        </div>
                                        <p class="title"> <%= ele.title%> </p>
                                        <p class="description"> <%= ele.description %> </p>
                                        
                                    </div>
                                    <div class="bottom-box d-flex flex-row justify-content-between">
                                        <div class="react-box d-flex flex-row align-items-center gap-2">
                                            <i class="fa-solid fa-heart fa-xs heart"></i>
                                            <p class="counting-likes"> <%=ele.numOfLikes%></p>
                                        </div>
                                        <div class="time-box">
                                            <%= ele.created_at.strftime("%H:%M #{ele.created_at.strftime('%p').downcase} %d/%m/%Y") %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade " id="<%='imageModal'+index.to_s%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down">
                                <div class="modal-content">
                                    <div class="modal-header d-flex flex-row justify-content-between">
                                        <h5 class="modal-title" id="exampleModalLabel"><%=ele.title%></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex flex-column gap-2">
                                        <img src="<%=ele.image%>" class="img-fluid" alt="...">
                                        <p><%=ele.description%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
                
            </div>
        </div>
        <div class="col-0 col-lg-2"></div>
    </div> 
    
    </body>
</html>