<div class="row new-photo">

<% if flash[:notice] %>                           
    <div aria-live="polite" aria-atomic="true" class="col-12 bg-dark position-relative bd-example-toasts">
        <div class="toast-container position-absolute top-0 end-0" id="toastPlacement" style="<%=(flash[:type]=='success')?'background-color:green':'background-color:red'%>">
            <div class="show" >
                <div class="my-toast">
                    <%= flash[:notice] %>
                </div>
            </div>
        </div>
    </div>
<% end %>    
                <div class="col-0 col-lg-2 d-none d-lg-flex flex-row justify-content-center mt-4">
                    <ul class="d-inline-block nav-list" >
                        <a href="#">
                            <li class="d-block mb-2">Feeds</li>
                        </a>
                        <a href="/discover/photo">
                            <li class="d-block mb-2">Discover</li>
                        </a>
                    </ul>
                </div>
                <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
                    <div class="header w-100 d-flex flex-row justify-content-start">
                        <p>Edit photo</p>
                    </div>
                    
                    <%= form_with(model: @photo, class: "w-100 mt-4" ) do |f| %>
                        
                        <div class="row w-100">
                            <div class= "col-6 d-flex flex-column gap-20">
                                <div>
                                    <%= f.label :title , class: "form-label"%>
                                    <%= f.text_field :title, class: "form-control", placeholder: "Photo title" %>
                                    <% if @photo.errors.has_key?(:title) %>
                                        <p class="error-message mb-0"> <%= @photo.errors[:title].first %></p>
                                    <% end %>
                                </div>
                                <div>
                                    <%= f.label :isPrivate, "Sharing mode" , class: "form-label"%>
                                    <br/>
                                    <div class="sharing-mode-box">
                                        <%= f.select :isPrivate,  options_for_select([["Public", "0"], ["Private", "1"]], selected: (f.object.isPrivate)?"1":"0" ) , {},{class: 'sharing-mode'}%>
                                        <i class="fa-solid fa-angle-down down-arrow"></i>
                                    </div>
                                    
                                </div>
                                <div class="upload-photo-box mt-3">
                                    <%= f.file_field :image, class: "form-control browse-btn", id: "photoInput" %>
                                    <i class="fa-solid fa-plus add-btn"></i>
                                    <div id="previewImage" >
                                        <img  src="<%=f.object.image%>" alt="" />
                                        <i class="fa-solid fa-xmark close-img-btn"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <%= f.label :description, class: "form-label" %>
                                <%= f.text_area :description, class: "form-control h-50" , placeholder: "Photo Description"%>
                                <% if @photo.errors.has_key?(:description) %>
                                    <p class="error-message mb-0"> <%= @photo.errors[:description].first %></p>
                                <% end %>
                            </div>
                        </div>
                        
                        <div>
                            <%= f.submit "Save", class: "btn btn-primary save-btn mt-4" %>
                            <%= link_to "Delete", @photo, class: "btn btn-danger delete-btn mt-4" , method: :delete%>
                        </div>
                    <% end %>

                    
                </div>
                <div class="col-0 col-lg-2"></div>
</div> 

<script>
    function disappearToast(){
        setTimeout(function(){
            $('#toastPlacement').fadeOut();
        }, 3000);
    }
    <% if flash[:notice] %>
        disappearToast();
    <% end %>
                   

    var photoInput = document.getElementById('photoInput');
    var previewImage = document.getElementById('previewImage');
    var closeBtn = document.querySelector('.close-img-btn');
    function clearFileInput() {
        photoInput.value = ''; // This clears the selected file
        previewImage.style.display = 'none';
    }
    closeBtn.addEventListener('click', function(event) {
        clearFileInput();
        event.stopPropagation();
    });
    
    photoInput.addEventListener('change', function(event) {
        console.log("change")
        var file = event.target.files[0];
        if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            previewImage.querySelector('img').src = e.target.result;
            previewImage.style.display = 'block';
        };
        reader.readAsDataURL(file);
        }
    });
</script>