<div class="row h-100 new-photo">
                <div class="col-0 col-lg-2 d-none d-lg-flex flex-row justify-content-center mt-4">
                    <ul class="d-inline-block nav-list" >
                        <a href="#">
                            <li class="d-block mb-2">Feeds</li>
                        </a>
                        <a href="/discover/photo">
                            <li class="d-block mb-2">Discover</li>
                        </a>
                    </ul>
                </div>
                <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
                    <div class="header w-100 d-flex flex-row justify-content-start">
                        <p>New photo</p>
                    </div>
                    
                    <%= form_with url: '/photos', html: {multipart: true}, method: :post, class: "w-100 mt-4" do |f| %>
                        <div class="row w-100">
                            <div class= "col-6 d-flex flex-column gap-20">
                                <div>
                                    <%= f.label :title , class: "form-label"%>
                                    <%= f.text_field :title, class: "form-control", placeholder: "Photo title" %>
                                </div>
                                <div>
                                    <%= f.label :isPrivate, "Sharing mode" , class: "form-label"%>
                                    <br/>
                                    <div class="sharing-mode-box">
                                        <%= f.select :isPrivate,  [["Public", false], ["Private", true]] , {},{class: 'sharing-mode'}%>
                                        <i class="fa-solid fa-angle-down down-arrow"></i>
                                    </div>
                                    
                                </div>
                                <div class="upload-photo-box mt-3">
                                    <%= f.file_field :image, class: "form-control browse-btn" %>
                                    <i class="fa-solid fa-plus add-btn"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <%= f.label :description, class: "form-label" %>
                                <%= f.text_area :description, class: "form-control h-50" , placeholder: "Photo Description"%>
                            </div>
                        </div>
                        
                        <%= f.submit "Save", class: "btn btn-primary save-btn mt-4" %>
                        
                    <% end %>
                        
        

                    
                </div>
                <div class="col-0 col-lg-2"></div>
            </div> 
