<% ele = local_assigns[:ele] %>
<% p ele.id,"ele_id" %>
<% index = local_assigns[:index] %>
<% have_follow = local_assigns[:have_follow] %>
<div class="row mx-0 item-box " onclick="showModal('<%='albumModal'+index.to_s%>')" data-bs-target="<%='#albumModal'+index.to_s%>">
    <% @list_photos = Album.find(ele.id).photos.public_photos %>
    <% p @list_photos,"list_of_photossssssssssss" %>
    <div class="col-7  img-box">
        <div class="contain-rotate-img">
            <% @list_photos.each_with_index do |photo,index| %>
                    <%break if index == 3%>
                    <img src="<%=photo.image%>" alt="">
            <% end %>
        </div>
    </div>
    <div class="col-5 h-100 p-2 d-flex flex-column justify-content-between">
        <div class="upper-box d-flex flex-column gap-10 ">
            <% if have_follow %>
                <div class="user-info-box d-flex flex-row justify-content-between align-items-center gap-10">
                    <div class="specific-user-btn">
                        <%= button_to personal_info_photo_path(ele.user.id), method: :get, class: "d-flex flex-row align-items-center justify-content-start gap-10" do %>
                            <div class="avt-icon">  </div>
                            <p class="user-name"><%=ele.user.firstName%></p>
                        <% end %>
                    </div>
                    <%=render 'shared/follow_button', id: ele.user.id%>
                </div>
            <% else %>
                
                <div class="user-info-box d-flex justify-content-start align-items-center gap-10">
                    <div class="specific-user-btn">
                        <%= button_to personal_info_photo_path(ele.user_id), method: :get, class: "d-flex flex-row align-items-center justify-content-start gap-10" do %>
                            <div class="avt-icon">  </div>
                            <p class="user-name"><%=ele.firstName%></p>
                        <% end %>
                    </div>
                </div>
            <% end %>
            <p class="title"> </p>
            <p class="description"><%=ele.description%></p>
            
        </div>
        <div class="bottom-box d-flex flex-row justify-content-between">
            <%= render 'shared/like_button', ele: ele, list_to_check: @list_reacted_albums%>
            <div class="time-box">
                <%= ele.created_at.strftime("%H:%M #{ele.created_at.strftime('%p').downcase} %d/%m/%Y") %>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade " id="<%='albumModal'+index.to_s%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%=ele.title%></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img src="<%=@list_photos[0].image%>" class="d-block w-100" alt="...">
                        </div>
                        
                        <% @list_photos.each_with_index do |photo,index| %>
                            <% next if index == 0%>
                            <div class="carousel-item">
                                <img src="<%=photo.image%>" class="d-block w-100" alt="...">
                            </div>
                        <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p><%=ele.description%></p>
            </div>
            
        </div>
    </div>
</div>