
<%ele=local_assigns[:ele] %>
<%index=local_assigns[:index] %>
<%have_follow=local_assigns[:have_follow] %>
<%from_page = local_assigns[:from_page] %>
<div class="col-xl-6  col-12">
    <div class="row item-box mt-4" onclick="showModal('<%='imageModal'+index.to_s%>')" data-bs-target="<%='#imageModal'+index.to_s%>">
        <div class="col-6  img-box p-0">
            <%= render '/shared/display_image', ele: ele.image%>
        </div>
        <div class="col-6 h-100 p-2 d-flex flex-column justify-content-between">
            <div class="upper-box d-flex flex-column gap-10">
                <% if have_follow %>
                    <div class="user-info-box d-flex justify-content-between align-items-center gap-10">
                        <div class="specific-user-btn">
                            <%= button_to user_path(ele.user.id), method: :get, class: "d-flex flex-row align-items-center justify-content-start gap-10" do %>
                                <div class="avt-icon"> 
                                    <%= render '/shared/display_image', ele: ele.user.profileImg%>
                                 </div>
                                 
                                <p class="user-name"><%=ele.user.firstName%></p>
                            <% end %>
                        </div>
                        <% if user_signed_in? %>
                            <div class="follow-container">
                                <%if @list_followings.include?ele.user.id%>
                                    <%=render 'shared/unfollow_button', id:ele.user.id%>
                                <%else%>
                                    <%= render 'shared/follow_button', id: ele.user.id %>
                                <%end%>
                            </div>
                        <% end %>
                    </div>
                <% else %>
                    <div class="user-info-box d-flex justify-content-between align-items-center">
                        <div class="specific-user-btn">
                            <%= button_to user_path(ele.user_id), method: :get, class: "d-flex flex-row align-items-center justify-content-start gap-10" do %>
                                <div class="avt-icon">
                                    <%= render '/shared/display_image', ele: ele.user.profileImg%>
                                </div>
                                <p class="user-name"><%= ele.user.firstName%></p>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                <p class="title"><%=ele.title%></p>
                <p class="description"><%=ele.description%></p>
                
            </div>
            <div class="bottom-box d-flex flex-row justify-content-between">
                <% if user_signed_in? %>
                    <div class="react-box d-flex flex-row align-items-center gap-2">
                        <% if @list_reacted_photos.include?(ele.id) %>
                            <%= render 'shared/unreact_button', ele: ele , list_to_check: @list_reacted_photos, inside_photo: true%>
                        <%else%>
                            <%= render 'shared/react_button', ele: ele , list_to_check: @list_reacted_photos, inside_photo: true%>
                        <%end%>
                    </div>
                <% else %>
                    <div></div>
                <% end %>
                <div class="time-box">
                    <p class="m-0"><%= ele.created_at.strftime("%H:%M #{ele.created_at.strftime('%p').downcase} %d/%m/%Y") %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade " id="<%='imageModal'+index.to_s%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header d-flex flex-row justify-content-between">
                <h5 class="modal-title" id="exampleModalLabel"><%=ele.title%></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <img src="<%=ele.image%>" class="img-fluid" alt="...">
                <p><%=ele.description%></p>
            </div>
        </div>
    </div>
</div>
<script>

document.querySelectorAll('.specific-user-btn').forEach((btn)=>{
    console.log("hello")
    btn.addEventListener('click',function stopPropagation(event){
        event.stopPropagation();
    })
}) 
</script>

