<div class="row h-100 personal-info album">
        <div class="col-0 col-lg-2 d-none d-lg-flex flex-row justify-content-center mt-4">
                    <ul class="d-inline-block nav-list album-nav" >
                        <a href="#">
                            <li class="d-block mb-2">Feeds</li>
                        </a>
                        <a href="/discover/photo">
                            <li class="d-block mb-2">Discover</li>
                        </a>
                    </ul>
        </div>
    <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
        <div class="row w-100 ">
            <div class="col-3 p-0">
                <div class="user-avt-box">
                    <img src="https://anhanime.com/wp-content/uploads/2024/02/Anh-Nagi-2.jpg" alt="">
                </div>
            </div>
            <div class="col-9 d-flex flex-column gap-10">
                <%= render 'shared/follow_button', id: @target_user.id %>
                <h2><%=@target_user.firstName + " " + @target_user.lastName%></h2>
                <div >
                    <ul class="personal_nav p-0 m-0">
                        <%= link_to personal_info_photo_path(@target_user.id) do %>
                            <li><span><%=@target_user.photos.size%></span> PHOTOS</li>
                        <% end %>
                        
                        <a><li><span><%=@target_user.albums.size%></span> ALBUMS</li></a>
                        
                        <%= link_to personal_info_following_path(@target_user.id) do %>
                            <li><span><%=@target_user.following.size%></span> FOLLOWINGS</li>
                        <% end %>
                        <%= link_to personal_info_follower_path(@target_user.id) do %>
                            <li><span><%=@target_user.follower.size%></span> FOLLOWERS</li>
                        <% end %>    
                    </ul>
                </div>
            </div>
        </div>
        <% if @viewing_current_user %>
            <div class="d-flex flex-row justify-content-end w-100 gap-40 m-0 mt-5">
                    <%= link_to new_album_path do %>
                        <button class="btn add-btn">Add Album</button>
                    <% end %>
            </div>
        <% end %>                    
        <div class="row w-100 gap-40 m-0 mt-5 ">
            <% @list_albums.each_with_index do |ele,index|%>
                <%= render 'album_card', ele: ele, index: index %>
            <% end %>
            
        </div>
    </div>
    <div class="col-0 col-lg-2"></div>
    
</div>