<%session[:failure_redirect]=personal_info_following_path%>
<div class="row personal-info following">
        <div class="col-0 col-lg-2 d-none d-lg-flex flex-row justify-content-center mt-4">
                    <ul class="d-inline-block nav-list album-nav" >
                        <a href="/">
                            <li class="d-block mb-2">Feeds</li>
                        </a>
                        <a href="/discover/photo">
                            <li class="d-block mb-2">Discover</li>
                        </a>
                    </ul>
        </div>
    <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
        <div class="row w-100 ">
            <div class="col-3 p-0">
                <div class="user-avt-box">
                    <img src="<%=@target_user.profileImg%>" alt="">
                </div>
            </div>
            <div class="col-9 d-flex flex-column gap-10">
                <% if @viewing_current_user %>
                    <div>
                        <%= link_to edit_user_registration_path, class:"edit-profile-btn" do %>
                            <button>Edit Profile</button>
                        <% end %>
                    </div>
                <% else %>
                    <%= render 'shared/follow_button', id: @target_user.id %>
                <% end %>
                <h2><%=@target_user.firstName + " " + @target_user.lastName%></h2>
                <div >
                    <ul class="personal_nav p-0 m-0">
                        <%= link_to personal_info_photo_path(@target_user.id) do %>
                            <li><span><%=@target_user.photos.size%></span> PHOTOS</li>
                        <% end %>
                        <%= link_to personal_info_album_path(@target_user.id) do %>
                            <li><span><%=@target_user.albums.size%></span> ALBUMS</li>
                        <% end %>
                        
                        <a><li><span><%=@target_user.following.size%></span> FOLLOWINGS</li></a>
                        
                        <%= link_to personal_info_follower_path(@target_user.id) do %>
                            <li><span><%=@target_user.follower.size%></span> FOLLOWERS</li>
                        <% end %>    
                    </ul>
                </div>
            </div>
        </div>

        <div class="row w-100  m-0 mt-5 ">
            <% if @list_following_target.empty? %>
                <div class="col-12 d-flex justify-content-center align-items-center mb-4 mt-4">
                    <p>Follow someone to make your feed colorful with albums and photos</p>
                </div>
            <% else %>
                <% @list_following_target.each_with_index do |ele,index|%>
                    <%= render 'other_user_card', ele: ele, index: index %>
                <% end %>
            <% end %>
                        
        </div>
    </div>
    <div class="col-0 col-lg-2"></div>
    
</div>
<script>
    console.log('Hello from follow button');   
    function followAPI(id){
            $.ajax({
            url: "/discover/follow",
            type: "PUT",
            data: {user_id: id},
            success: function(data) {},
            error: function(data) {}
        })
    }
    const debounceFollow= function (func, timeout = 3000){
        return (...args) => {
            console.log(this.timer)
            clearTimeout(this.timer);
            this.timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
    }     
    let followBtns =   document.querySelectorAll('.follow-btn')  
    followBtns.forEach((btn)=>{
        btn.addEventListener('click',function stopPropagation(event){

            event.stopPropagation();
            
            if (btn.querySelector('span').innerHTML == "Follow"){
                btn.querySelector('span').innerHTML = "Following"
                btn.classList.add("unfollow-btn")
            }else{
                btn.querySelector('span').innerHTML = "Follow"
                btn.classList.remove("unfollow-btn")
            }
            
            debounceFollow(followAPI)(btn.querySelector('p').innerHTML)
            
        })
    })          
</script>



