<div class="row h-100 personal-info following">
        <div class="col-0 col-lg-2 d-none d-lg-flex flex-row justify-content-center mt-4">
                    <ul class="d-inline-block nav-list album-nav" >
                        <a href="#">
                            <li class="d-block mb-2">Feeds</li>
                        </a>
                        <a href="/discover/photo">
                            <li class="d-block mb-2">Discover</li>
                        </a>
                    </ul>
        </div>
    <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
        <div class="row w-100 ">
            <div class="col-3 p-0">
                <div class="user-avt-box">
                    <img src="https://anhanime.com/wp-content/uploads/2024/02/Anh-Nagi-2.jpg" alt="">
                </div>
            </div>
            <div class="col-9 d-flex flex-column gap-10">
                <%= form_with url: "/discover/follow", method: :put, local: true do |f| %>
                    <%= f.hidden_field :user_id, value: @target_user.id %>
                    <%= f.button "Follow", class: "follow-btn d-flex justify-content-center" , id: "followButton" %>
                <% end %>
                <h2>Hansford Nguyen</h2>
                <div >
                    <ul class="personal_nav p-0 m-0">
                        <a href="/personal_info/photo?id=<%=@target_user.id%>"><li><span>108</span> PHOTOS</li></a><a href="/personal_info/album?id=<%=@target_user.id%>"><li><span>43</span> ALBUMS</li></a><a><li><span>22</span> FOLLOWINGS</li></a><a href="/personal_info/follower?id=<%=@target_user.id%>"><li><span>13</span> FOLLOWERS</li></a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row w-100 gap-40 m-0 mt-5 ">
                <div class="col-3 d-flex flex-column align-items-center user-box g-1">
                    <div class="avt-box">
                        <img src="https://anhanime.com/wp-content/uploads/2024/02/Anh-Nagi-2.jpg" alt="">
                    </div>
                    <p class="mt-1">Hieu Nguyen</p>
                    <div class="user-info d-flex flex-row gap-40">
                        <div class="num_of_photos d-flex flex-column align-items-center">
                            <p class="m-0 number">13</p>
                            <p class="m-0 cate">PHOTOS</p>
                        </div>
                        <div class="num_of_albums d-flex flex-column align-items-center">
                            <p class="m-0 number">13</p>
                            <p class="m-0 cate">ALBUMS</p>
                        </div>
                    </div>
                    <%= form_with url: "/discover/follow", method: :put, local: true do |f| %>
                        <%= f.hidden_field :user_id, value: @target_user.id %>
                        <%= f.button "unfollow", class: "follow-btn d-flex justify-content-center mt-2" , id: "followButton" %>
                    <% end %>
                </div>
                        
        </div>
    </div>
    <div class="col-0 col-lg-2"></div>
    
</div>



