<div class="row h-100 personal-info follower">
        <div class="col-0 col-lg-2 d-none d-lg-flex flex-row justify-content-center mt-4">
                    <ul class="d-inline-block nav-list album-nav" >
                        <a href="#">
                            <li class="d-block mb-2">Feeds</li>
                        </a>
                        <a href="/discover/photo">
                            <li class="d-block mb-2">Discover</li>
                        </a>
                    </ul>
        </div>
    <div class="col-12 col-lg-8 center-container d-flex flex-column align-items-center"> 
        <div class="row w-100 ">
            <div class="col-3 p-0">
                <div class="user-avt-box">
                    <img src="https://anhanime.com/wp-content/uploads/2024/02/Anh-Nagi-2.jpg" alt="">
                </div>
            </div>
            <div class="col-9 d-flex flex-column gap-10">
                <%= render 'shared/follow_button', id: @target_user.id %>
                <h2><%=@target_user.firstName + " " + @target_user.lastName%></h2>
                <div >
                    <ul class="personal_nav p-0 m-0">
                        <a href="/personal_info/photo/<%=@target_user.id%>"><li><span>108</span> PHOTOS</li></a><a href="/personal_info/album?id=<%=@target_user.id%>"><li><span>43</span> ALBUMS</li></a><a href="/personal_info/following?id=<%=@target_user.id%>"><li><span>22</span> FOLLOWINGS</li></a><a><li><span>13</span> FOLLOWERS</li></a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row w-100 gap-40 m-0 mt-5 ">
            <% @list_follower_target.each_with_index do |ele,index|%>
                <%= render 'other_user_card', ele: ele, index: index %>
            <% end %>
                        
        </div>
    </div>
    <div class="col-0 col-lg-2"></div>
    
</div>



